.login-form {
    width: 100%;

}
.login-form-forgot {
    float: right;

}
.login-form-button {
    width: 100%;

}
.divalign{
    top: 50%;
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
}
h1{
    font-size: 40px;
}

.slider-form {
    top: 100%;
    width: 300px;
    position: relative;
    left: 30%;
    margin-left: -100px;
}
